@charset "UTF-8";

body {
    background-image: url("imagens/espaco.jpg");
    background-size: 100%;
}

main{
    width: 500px;
    height: auto;
    margin: auto;
}

main img{
    margin: auto;
    display: block;
}