@charset "UTF-8";

:root {
    --cor1: #7287F2;
    --cor2: #2A4BF0;
    --cor3: #203ABD;
    --cor4: #132370;
    --cor5: #1b2346;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    padding: 5px;
}

header h1 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.158);
}

header h2 {
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
}

main {
    max-width: 800px;
    min-width: 290px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.301);
}

main section {
    text-align: center;
}

main section img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

main p{
    text-align: justify;
    text-indent: 30px;
    color: white;
    padding: 5px;
    font-size: 1.1em;
}

main p strong {
    color: var(--cor1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

main h2 {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-decoration: underline;
}

main ul {
    list-style-position: inside;
    list-style: none;
    margin: 10px;
}

main ul li {
    color: white;
}

main ul li a {
    color: white;
    text-decoration: none;
}

main ul li a:hover {
    color: white;
    text-decoration: underline;
}

main ul img {
    background-color: white;
    border-radius: 8px;
}