@charset "UTF-8";

/* Estilo para impressora */

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

menu {
    display: none;
}

header {
    height: 20px;
}

header h1 {
    text-align: center;
    font-size: 1.5em;
}

article h2 {
    font-size: 1.3em;
    text-align: center;
}

article p {
    text-align: justify;
    line-height: 1.2em;
    font-size: 1em;
}